.bounding-box-FaceRec {
   position: absolute;
   box-shadow: 0 0 0 3px #FFFF00 inset;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   cursor: pointer;
}
.picDevice{
   width: 500px;
}
@media screen and (max-device-width:500px), screen and (max-width:500px) {
	.bounding-box-FaceRec {

     
   }
}

.ImageFixFaceRec {
   bottom: 0;
}