body {
  margin: 0;
  font-family: "Courier new" , Courier , monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    /* background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(24,179,218,1) 0%, rgba(13,218,118,1) 0%, rgba(9,208,218,1) 100%);  */

  /* background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(24,179,218,1) 0%, rgba(13,218,118,1) 0%, rgba(9,208,218,1) 100%);  */

  /* background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(9,208,218,1) 0%, rgba(13,218,118,1) 96%, rgba(24,179,218,1) 100%); */

  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,208,218,1) 0%, rgba(24,179,218,1) 100%, rgba(76,215,47,1) 100%, rgba(85,224,17,1) 100%);
  /* background: linear-gradient(90deg, #C7C5F4, #776BCC);		 */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,208,218,1) 0%, rgba(24,179,218,1) 0%, rgba(76,215,47,1) 100%, rgba(85,224,17,1) 100%); */
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,224,43,1) 0%, rgba(24,163,218,1) 100%, rgba(0,212,255,1) 100%); */
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3rem;
  padding-bottom: 0px;
  


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

